*{
	margin:0px;
	padding:0px;
}

body{
	background-color: #222;
	background-image: url('./img/burger-bg.jpg');

}

img{
	width:100%;
}
button{
	background-color: #222;
	color:#ddd;
	border:none;
}

button:focus{
	outline:none;
}

.navbar{
	color:#ddd;
	font-family: 'Alfa Slab One', cursive;
	font-size:1.5rem;
	display: flex;
	justify-content: space-around;
	padding:10px;
	padding-right: 50px;
	flex-wrap: wrap;
	background-color: #222;
}

.menuChoice{
	display: flex;
	justify-content: space-between;

}

.nav-el{
	margin:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s;
}

.nav-el:hover{
	color:#bf1b23;
	cursor: pointer;
}
.nav-el:focus{
	color:#f03740;
}

.inner-small{
	font-size: 1rem;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

.choice{
	width:293px;
	height:293px;
	border-radius: 50%;
}

#logo{
	margin-left: 80px;
	display: flex;
	flex-direction: row;
	font-size: 4rem;


}

#logo i{
	margin-right: 10px;
}

#about-us{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100%;
	height:180px;
	background-color:#f0d7bd;
}

#about-us-1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 4rem;
	margin-top:20px;

}

#about-us-1,#about-us-2{
	color:#781010;

}

#about-us-2{
	font-family: 'Hepta Slab', serif;
	font-size: 2rem;
	margin-bottom: 20px;
	
}

#about-content{
	display: flex;
	justify-content: center;
	width:100%;
	height:500px;

}
#about-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#pic{
	padding:100px;
	display: flex;
	align-items: center;
}

#pic img{
	height:400px;
	width:auto;
}

#horImg{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height:300px;
	color:#fff;
	background-image: url(./img/most-wanted-burger.jpg);
}

#horImg-1{
	font-size: 3rem;
	
}

#horImg-2{
	font-size: 1.5rem;
	margin-bottom: 50px;
}

#horImg-1,#horImg-2{
	font-family: 'Noto Serif', serif;
	font-weight: bold;
}

#three-choices{
	width:100%;
	height:400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border:none;
}

#customer-opinion{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	height:350px;
	color:#fff;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	background-image: url('./img/customer-opinion_modified.jpg');
}
#p1{

	top:300px;
	left:600px;
	z-index: 2;
	font-size: 3rem;

}
#p2{

	top:200px;
	z-index: 2;
	font-size: 1.5rem;
}

