*{
	margin:0px;
	padding:0px;
}

body{
	background-color: #222;
	background-image:url('img/about-us-hor1.jpg');

}

a:link{
	text-decoration: none;
}

img{
	width:100%;
	
}
button{
	background-color: #222;
	color:#ddd;
	border:none;
}

button:focus{
	outline:none;
}

p{
	padding-bottom:20px;
	margin:0px 20px;
	font-family: 'Hepta Slab', serif;
}

.navbar{
	color:#ddd;
	font-family: 'Alfa Slab One', cursive;
	font-size:1.5rem;
	display: flex;
	justify-content: space-around;
	padding:10px;
	padding-right: 50px;
	flex-wrap: wrap;
	background-color: #222;
}

.collapse-hb{
	position:relative;
	width:30px;
	height:30px;
	background-color:#ddd;
	border-radius:5px;
	cursor: pointer;
	display: none;

}

.collapse-lines{
	position: absolute;
	width:20px;
	height:1px;
	background-color:#777;
}

.collapsed-choices{
	height:250px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transform: translate3d(0,-300px,0);
	transition: transform .3s;
	background-color:rgb(255,255,255,0.8);
}

.collapsed-choice{
	padding-left:30px;
	transition: color .3s;
	cursor: pointer;
}

.collapsed-choice:hover{
	color:#000;
}

.collapse-show{
	transform:translate3d(0,72px,0);
}



#collapse-line-1,#collapse-line-2,#collapse-line-3{
	left:5px;
}
#collapse-line-1{
	top:7px;
}
#collapse-line-2{
	top:14px;
}
#collapse-line-3{
	top:21px;
}

.news-link{
	display: flex;
	flex-direction: column;
	position: relative;
}


.news-dropdown{
	position: absolute;
	display: none;
	top:90px;
	z-index: 4;
	background-color: rgba(0,0,0,0.8);
	width:100px;
	animation-name: news-link-fadein;
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes news-link-fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity: 1;
	}
}





.news-dropdown li{
	list-style-type:none;
	text-align: center;
	transition: color .3s;
}
.news-dropdown li:hover{
	color:#89a658;
	cursor: pointer;
}


.menuChoice{
	display: flex;
	justify-content: space-between;

}

.nav-el{
	margin:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s;
}

.nav-el:hover{
	color:#89a658;
	cursor: pointer;
}
.nav-el:focus{
	color:#aced47;
}

.inner-small{
	font-size: 1rem;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

.sliderImg1,.sliderImg2,.sliderImg3{
	position: relative;
}

.sliderImg-info1,.sliderImg-info3,.sliderImg-info5{
	position:absolute;
	font-family: 'Alfa Slab One', cursive;
	padding:5px 20px;
	color:#89a658;
	font-size: 2rem;
	background-color: rgb(255,255,255,0.8);
	bottom:180px;
	right:80px;
	z-index: 2;
	width:400px;
}

.sliderImg-info7{
	position:absolute;
	font-family: 'Alfa Slab One', cursive;
	padding:5px 20px;
	color:#fff;
	font-size: 1rem;
	background-color: rgb(150, 15, 15,0.8);
	top:10px;
	left:20px;
	z-index: 2;
	width:300px;

}

.sliderImg-info3{
	bottom:210px;
}

.sliderImg-info5{
	bottom:210px;
}

.sliderImg-info2,.sliderImg-info4,.sliderImg-info6{
	background-color: rgb(255,255,255,0.8);
	position:absolute;
	padding:5px 20px;
	bottom: 60px;
	right:80px;
	font-size:1.8rem;
	font-weight: bold;
	font-family: 'Hepta Slab', serif;
	width:400px;

}

.choice{
	width:293px;
	height:293px;
	border-radius: 50%;
	margin:50px 10px;
}

#choice1,#choice2,#choice3{
	position: relative; 
}


.choice-cover1,.choice-cover2,.choice-cover3{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	transition: 0.3s;
	position:absolute;
	top:0px;
	width:293px;
	height:293px;
	border-radius: 50%;
	z-index: 2;
	background-color:#fff;
	opacity: 0;
}

.choice-cover1:hover,.choice-cover2:hover,.choice-cover3:hover{
	opacity:0.8;
}

.ruby{
	font-size:1.5rem;
	color:#7eb033;
	font-weight: bold;
}
.red{
	color:#7eb033;
}

.opinion-content{
	padding:50px;
	margin:10px;
	text-align: center;
	width:100%;
}

.special-menu{
	height:400px;
	background-image: url("http://burger.ketchupthemes.com/wp-content/uploads/2015/05/chef.jpg");
}

.menu-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100%;
	background-color:#f0d7bd;

}

.menu-content{
	display: flex;
	flex-direction: column;
	justify-content:  center;
	background-image:url('img/about-us-hor1.jpg');
	padding:10px 80px;
	flex-wrap: wrap;
}
.menu-specifics{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:10px;
}

.menu-subtitles{
	font-size:1.5rem;
	font-weight: bold;
}

.menu-content p{
	margin:0px;
	padding:0px;
	width:400px;
}

.menu-button{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.container{
	padding:40px;
}

.contact-us{
	display: flex;
	justify-content: space-around;
	padding:50px;
	background-color: #000;
	color: #fff;
	flex-wrap: wrap;
}

.contact-item i{
	font-size:3rem;
}

.contact-item .fa-hamburger{
	font-size: 5rem;
	color: #ddd;
}

.contact-item{
	padding:20px;
	text-align: center;
	width:200px;
}
.contact-icon i{
	transition: 0.3s;
}
.contact-icon i:hover{
	cursor:pointer;
	color:#7eb033;
}

button.view-menu,button.readMore{
	font-family: 'Hepta Slab', serif;
	font-weight: bold;
	width:180px;
	padding:10px;
	border-radius: 5px;
	background-image: linear-gradient(#85b837,#48631e);
}
button.view-menu:hover,button.readMore:hover{
	background-image: linear-gradient(#48631e,#85b837);
}
button.readMore{
	margin-bottom: 30px;
}
.img-gap{
	padding:2px;
}



#logo{
	margin-left: 80px;
	display: flex;
	flex-direction: row;
	font-size: 4rem;


}

#logo i{
	margin-right: 10px;
}

.about-us{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100%;
	background-image: url('./img/background-pattern1.jpg');
	
}



.about-title{
	font-family: 'Alfa Slab One', cursive;
	font-size: 2rem;
	color:#7eb033;
	padding-bottom: 0px;
}

.about-us-1,.about-us-2,#special-menu-1,#special-menu-2,.mtitle,.menu-title-sp,.gallery-1,.gallery-2{
	color:#fff;

}

.about-us-1,#special-menu-1,.menu-title-sp,.gallery-1,.mtitle{
	font-family: 'Alfa Slab One', cursive;
	font-size: 4rem;
	margin-top:20px;

}


.about-us-2,#special-menu-2,.gallery-2{
	font-family: 'Hepta Slab', serif;
	font-size: 2rem;
	margin-bottom: 20px;
	
}

.menu-title-sp{
	font-size: 3rem;
	text-align: center;
	color:#7eb033;
}

#about-content{
	display: flex;
	justify-content: center;
	width:100%;


}
#about-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#pic{
	padding:80px;
	display: flex;
	align-items: center;
}

#pic img{
	height:400px;
	width:auto;
	border-radius: 20px;
}

#horImg{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	color:#fff;
	background-image: url('img/most-wanted-sushi.jpg');
}

#horImg-1{
	padding-top:100px;
	font-size: 3rem;
	
}

#horImg-2{
	font-size: 1.5rem;
	margin-bottom: 50px;
}

#horImg-1,#horImg-2{
	font-family: 'Noto Serif', serif;
	font-weight: bold;
}

#three-choices{
	width:100%;
	/*width:900px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	border:none;
}

#customer-opinion{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	height:350px;
	color:#fff;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	background-image: url('./img/your-opinion.jpg');
}
#p1{

	top:300px;
	left:600px;
	z-index: 2;
	font-size: 3rem;

}
#p2{

	top:200px;
	z-index: 2;
	font-size: 1.5rem;
}



/*Read More Page*/
.readMore-Content{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:30px;
}


/*Menu Page*/
.menu-img{
	/*position: relative;*/
	background-image: url('img/menu-page-img.jpg');
}

.contact-img{
	background-image: url('http://burger.ketchupthemes.com/wp-content/uploads/2015/05/contact.jpg');
}
.menu-page-title{
	/*position:absolute;*/
	/*top:100px;*/
	color:#fff;
	font-size:3rem;
	text-align: center;
	padding-top:100px;
}

#menu-page-1{
	font-family: 'Alfa Slab One', cursive;
}

.menu-page-title p{
	font-weight: bold;
	font-size:2rem;
}

.menu-break{
	height:100px;
	width:100%;
	background-image: url('./img/background-pattern1.jpg');
}

.menu-page-content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom:100px;
}

.menu-page-specific-content{
	display:flex;
	justify-content: center;
}

.menu-page-column{
	display:flex;
	flex-direction: column;
}

.menu-page-item{
	width:600px;
}


/*
	Contact Page
*/

.map{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.map p{
	padding:50px 0;
}

.contact-form-time{
	display: flex;
	justify-content: space-around;
	font-family: 'Hepta Slab', serif;
}

.contact-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-enquiry-style{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}
.form-submit-button{
	color:#fff;
	background-color:#85b837;
	transition: .3s;
}
.form-submit-button:hover{
	background-color: #48631e;
	color:#fff;
}

input.form-control,textarea.form-control{
	width:600px;
	height:50px;
}

textarea.form-control{
	height:100px;
}
.operating-hours{
	width:300px;
	margin-bottom:50px;
}

.operating-hour{
	display: flex;
	justify-content: space-between;
	padding:10px;
}
.contact-details{
	margin-bottom:50px;
	width:400px;
}

.time-break-line{
	width:300px;
	border-bottom:1px solid #111; 
}



@media(max-width: 1400px){
	#about-content{
		flex-direction: column;
		align-items: center;
	}
	#pic{
		padding: 10px;
	}

}

@media(max-width: 1200px){
	.menu-page-specific-content{
		flex-direction: column;
	}
}
@media(max-width: 1000px){
	.contact-form-time{
		flex-direction: column;
		align-items: center;
	}
	.collapse-hb{
		display: block;
	}

	.menu-page-item{
		width:300px;
	}
	.nav-el{
		font-size: 1rem;
	}
	i{
		font-size: 2rem;
	}

	.sliderImg-info1,.sliderImg-info2,.sliderImg-info3,
	.sliderImg-info4,.sliderImg-info5,.sliderImg-info6{
		font-size: 1rem;
	}
	.sliderImg-info2{
		bottom:40px;
	}
	.sliderImg-info1,.sliderImg-info3,.sliderImg-info5{
		bottom:80px;
	}
	.sliderImg-info4,.sliderImg-info6{
		bottom:20px;
	}

	.sliderImg-info7{
		display: none;
	}

	#three-choices{
		flex-direction: column;
	}
	.choice{
		margin:10px 50px;
	}
	#pic{
		padding:10px;
	}
	#pic img{
		width:300px;
		height: auto;
	}
	.nav-el{
		display: none;
	}
	.navbar{
		justify-content: flex-start;
	}

	.menu-content{
		padding:10px 20px;
	}


}

@media(max-width: 700px){
	input.form-control,textarea.form-control{
		width:300px;
		height:50px;
	}

	textarea.form-control{
		height:100px;
	}
	.operating-hours{
		width:200px;
	}
	.contact-details{
		width:200px;
	}
	.time-break-line{
	width:200px;}
}

@media(max-width:500px){

	.mtitle{
		font-size: 1.5rem;
	}
	.sliderImg-info1,.sliderImg-info2,.sliderImg-info3,
	.sliderImg-info4,.sliderImg-info5,.sliderImg-info6{
		display: none;
	}

	.menu-content p{
		width:200px;
	}
	
	p.menu-subtitles{
		font-size:1rem;
	}
}

@media(max-width: 400px){


	.about-us-1{
		font-size: 2rem;
	}
	.about-us-2{
		font-size: 1rem;
	}
	#pic img{
		width:250px;
	}
	.menu-title-sp{
		font-size: 1rem;
	}
	.menu-title{
		font-size:2rem;
	}
}



